<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/layout}">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <h1>ADMIN - 유저관리</h1>
        <div class="row" id="mbrList">
            <div th:if="${userList.totalCnt eq 0}" class="alert alert-light" role="alert" id="noMbrAvailable">
                <span>유저 정보가 없습니다.</span>
            </div>
            <main>
                <table class="table table-hover table-striped table-bordered text-center" style="font-size: 14px">
                    <thead>
                        <tr>
                            <th>유저 ID</th>
                            <th>유저 이름</th>
                            <th>부서 ID</th>
                            <th>부서 이름</th>
                            <th>권한 코드</th>
                            <th>사용 여부</th>
                            <th>생성 일자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:unless="${userList.totalCnt eq 0}" th:each="user : ${userList.dtoList}">
                            <td th:text="${user.getUserId()}" th:onclick="|location.href='@{/cms/admin/user/{userId}(userId = ${user.userId})}'|">
                            </td>
                            <td th:text="${user.getUserName()}" th:onclick="|location.href='@{/cms/admin/user/{userId}(userId = ${user.userId})}'|">
                            </td>
                            <td th:text="${user.getDeptId()}"></td>
                            <td th:text="${user.getDeptName()}"></td>
                            <td th:text="${user.getAuthorCd()}"></td>
                            <td th:text="${user.getUseYn()}"></td>
                            <td th:text="${user.getCreatedAt()}"></td>
                        </tr>
                    </tbody>
                </table>

            </main>
        </div>
    </div>
</th:block>

</html>

<script type="text/javascript">

</script>
