<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤드-->
<th:block th:replace="~{layout/admin/fragments/head :: headFragment}"></th:block>

<body>

<th:block th:replace="~{layout/admin/fragments/header :: headerFragment}"></th:block>



<div class="container-fluid">
    <div class="row">
        <!-- ===============================================-->
        <!-- navbar -->
        <!-- ===============================================-->
        <th:block th:replace="~{layout/admin/fragments/navbar :: navbarFragment}"></th:block>

        <!-- ===============================================-->
        <!--    Main Content-->
        <!-- ===============================================-->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!-- contents -->
            <th:block layout:fragment="content"></th:block>
            <!-- 공통 하단-->
            <th:block th:replace="~{layout/admin/fragments/footer :: footerFragment}"></th:block>

        </main>
        <!-- ===============================================-->
        <!--    End of Main Content-->
        <!-- ===============================================-->

    </div>
</div>
<!-- 공통 스크립트-->
<th:block th:replace="~{layout/admin/fragments/script :: scriptFragment}"></th:block>

</body>
</html>