<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:fragment="headFragment">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Namp Admin :: Dashboard </title>

    <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/vendors/fontawesome/css/all.css}" rel="stylesheet" >

    <!-- Custom styles for this template -->

</head>

</th:block>
</html>
