<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Navbar -->
<th:block th:fragment="navbarFragment">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="/cms/manual">
                        <i class="fas fa-wrench fa-lg mr-3"></i> 사용자 메뉴얼
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#">
                        <i class="fas fa-wrench fa-lg mr-3"></i> 취합 문서 등록
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#">
                        <i class="fas fa-wrench fa-lg mr-3"></i> 문서 입력자 지정
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#sysadmin" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="sysadmin">
                        <i class="fas fa-wrench fa-lg mr-3"></i> 취합 문서 보기
                    </a>
                    <ul class="nav collapse show" id="sysadmin">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="" aria-expanded="false">
                                <div class="d-flex align-items-center"><span class="nav-link-text ps-1">주간 업무 보고</span></div>
                            </a>
                            <a href="#" class="nav-link" data-bs-toggle="" aria-expanded="false">
                                <div class="d-flex align-items-center"><span class="nav-link-text ps-1">월간 업무 보고</span></div>
                            </a>
                            <a href="#" class="nav-link" data-bs-toggle="" aria-expanded="false">
                                <div class="d-flex align-items-center"><span class="nav-link-text ps-1">민원 처리 보고</span></div>
                            </a>
                            <a href="#" class="nav-link" data-bs-toggle="" aria-expanded="false">
                                <div class="d-flex align-items-center"><span class="nav-link-text ps-1">예상 집행 보고</span></div>
                            </a>
                            <a href="#" class="nav-link" data-bs-toggle="" aria-expanded="false">
                                <div class="d-flex align-items-center"><span class="nav-link-text ps-1">...</span></div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#">
                        <i class="fas fa-wrench fa-lg mr-3"></i> 사장님 공약사항
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#" role="button" >
                        <i class="fas fa-wrench fa-lg mr-3"></i> 입력 문서 전체 보기
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>

</html>
