<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/layout}">

<th:block layout:fragment="content">
  <div class="container-fluid">
    <main class="px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-end pt-3 pb-2 mb-3 border-bottom">
        <h4 class="text-primary fw-bold"><span class="fas fa-calendar-alt pe-1"></span>취합문서 정보</h4>
      </div>
      <P class="text-info">&nbsp;&nbsp;&nbsp; 취합문서의 정보를 수정합니다.</P>
      <div>
        <form enctype="multipart/form-data" th:object="${doctypeModel}" th:action="@{/cms/doctype/doc-reg}" method="POST">
          <div class="table-responsive d-flex justify-content-center">
            <!--                                        <table class="table table-striped table-sm table-bordered w-auto">-->
            <table class="table table-hover table-sm w-auto m-2">
              <tr class="align-middle" style="height: 80px">
                <th><p class="text-primary ">● 취합 문서명</p></th>
                <td>
                  <!--                                                    <input class="form-control rounded-3" type="text" name="doc-title">-->
                  <select id="dropdown" class="form-select form-select" aria-label=".form-select-sm example" th:field="*{doctypeId}" style="font-size: 14px" onchange="changeSelect()" required>
                    <option value="" hidden>취합 문서명을 선택해 주세요</option>
                    <option th:each="doctype : ${doctypeNameMap}" th:value="${doctype.key}" >[[${doctype.value}]]</option>
                  </select>
                </td>
              </tr>
              <tr class="align-middle" style="height: 80px">
                <th><p class="text-primary text-nowrap">● 취합문서 샘플 업로드</p></th>
                <td style="font-size: 14px">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input px-3"
                           id="validatedCustomFile" th:field="*{uploadFile}" required>
                    <label class="custom-file-label text-info" for="validatedCustomFile">업로드 할 파일을 선택해 주세요</label>
                    <div class="invalid-feedback">잘못된 사용자 지정 파일입니다.</div>
                  </div>
                </td>
              </tr>
              <tr class="align-middle" style="height: 80px">
                <th><p class="text-primary text-nowrap">● 파일 형식</p></th>
                <td style="font-size: 14px">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="filetype" id="hwp" checked>
                    <label class="form-check-label" for="hwp">
                      HWP 한글 파일
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="filetype" id="xls">
                    <label class="form-check-label" for="xls">
                      XLS 엑셀 파일
                    </label>
                  </div>
                </td>
              </tr>
              <tr class="align-middle" style="height: 80px">
                <th> <p class="text-primary">● 비고 설명</p></th>
                <td style="font-size: 14px">
                  <div class="form-floating">
                    <textarea class="form-control rounded-3" placeholder="서식문서 자세한 설명"
                              id="exampleFormControlTextarea1" rows="5" name="doc-etc" style="height: 200px" th:field="*{doctypeNote}"></textarea>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="table-responsiv d-flex justify-content-center my-3">
            <button class="btn btn-info d-block w-200 mt-3" type="submit"
                    name="submit">취합문서 수정
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>
</th:block>
</html>
<script type="text/javascript"></script>
<script type="text/javascript" th:src="'/js/cms/doctype/doctype_service.js?'+${#dates.format(#calendars.createNow(), 'yyyyMMddHHmmss')}" ></script>
<script>
  function changeSelect() {
    var selected = document.getElementById("dropdown");
    var value = selected.options[selected.selectedIndex].value;
    DoctypeService.loadDetail(value);
    // console.log(value);
  }
</script>
