<!DOCTYPE html>
<html layout:decorate="~{layout/admin/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">
  <div class="container-fluid">
    <main class="px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-end pt-3 pb-2 mb-3 border-bottom">
        <h4 class="text-primary fw-bold"><span class="fas fa-user pe-1"></span>문서 입력자 지정</h4>
      </div>
      <div class="table-responsive col-md-11">
        <table class="table table-hover table-striped text-center" style="font-size: 14px">
          <thead class="table-primary">
          <tr>
            <th scope="col" class="text-nowrap">문서명</th>
            <th scope="col" class="text-nowrap">입력 부서</th>
            <th scope="col" class="text-nowrap">입력자 지정</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="doctype: ${pageEntity.dtoList}">
            <th class="text-nowrap text-primary" th:text="${doctype.getDoctypeName()}">문서명</th>
            <td th:text="${doctype.getDepts()}">부서 리스트</td>
            <th  class="text-nowrap">
              <a class="btn btn-outline-primary btn-sm" role="button" th:doctypeId="${doctype.doctypeId}" th:onclick="fetchByDoctypeId(this.getAttribute('doctypeId'))" data-bs-toggle="modal" href="#exampleModal">지정 및 수정</a>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>

  <!-- 지정 및 수정 Modal -->
  <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"># 입력자 지정 list</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">

            <table class="table table-hover table-striped table-bordered text-center" style="font-size: 14px">
              <thead>
              <tr>
                <th class="text-nowrap">부서명</th>
                <th class="text-nowrap">입력자</th>
                <th class="text-nowrap">작성 유무</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>기획예산과</td>
                <td class="text-nowrap">이성근
                  <a class="btn btn-outline-primary btn-sm" role="button" data-bs-toggle="modal" href="#exampleModal2" data-bs-whatever="기획예산과" >입력 담당자 선택</a>
                </td>
                <th class="text-nowrap ">
                  <div class="btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check btn-sm" name="btnradio0" id="write-btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="write-btnradio1"> 작성</label>

                    <input type="radio" class="btn-check btn-sm" name="btnradio0" id="write-btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="write-btnradio2"> 미 작성</label>
                  </div>
                </th>
              </tr>
              <tr>
                <td>행정지원과</td>
                <td class="text-nowrap"> 미 작성, 입력자 없음, [작성] 선택에만 나옴
                </td>
                <th class="text-nowrap">
                  <div class="btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check btn-sm" name="btnradio1" id="write-btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="write-btnradio3"> 작성</label>

                    <input type="radio" class="btn-check btn-sm" name="btnradio1" id="write-btnradio4" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="write-btnradio4"> 미 작성</label>
                  </div>
                </th>
              </tr>
              <tr>
                <td>정보화과</td>
                <td class="text-nowrap">우지석
                  <a class="btn btn-outline-primary btn-sm" role="button" data-bs-toggle="modal" href="#exampleModal2" data-bs-whatever="정보화과" >입력 담당자 선택</a>
                </td>
                <th class="text-nowrap">
                  <div class="btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check btn-sm" name="btnradio2" id="write-btnradio5" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="write-btnradio5"> 작성</label>

                    <input type="radio" class="btn-check btn-sm" name="btnradio2" id="write-btnradio6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="write-btnradio6"> 미 작성</label>
                  </div>
                </th>
              </tr>
              <tr>
                <td>감사실</td>
                <td class="text-nowrap">오상혁
                  <a class="btn btn-outline-primary btn-sm" role="button" data-bs-toggle="modal" href="#exampleModal2" data-bs-whatever="감사실" >입력 담당자 선택</a>
                </td>
                <th class="text-nowrap">
                  <div class="btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check btn-sm" name="btnradio3" id="write-btnradio7" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="write-btnradio7"> 작성</label>

                    <input type="radio" class="btn-check btn-sm" name="btnradio3" id="write-btnradio8" autocomplete="off">
                    <label class="btn btn-outline-primary" for="write-btnradio8"> 미 작성</label>
                  </div>
                </th>
              </tr>
              <tr>
                <td>복지정책과</td>
                <td class="text-nowrap">김동혁
                  <a class="btn btn-outline-primary btn-sm" role="button" data-bs-toggle="modal" href="#exampleModal2" data-bs-whatever="복지정책과" >입력 담당자 선택</a>
                </td>
                <th class="text-nowrap">
                  <div class="btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check btn-sm" name="btnradio4" id="write-btnradio9" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="write-btnradio9"> 작성</label>

                    <input type="radio" class="btn-check btn-sm" name="btnradio4" id="write-btnradio10" autocomplete="off">
                    <label class="btn btn-outline-primary" for="write-btnradio10"> 미 작성</label>
                  </div>
                </th>
              </tr>
              <tr>
                <td>건설기획과</td>
                <td class="text-nowrap">이지수
                  <a class="btn btn-outline-primary btn-sm" role="button" data-bs-toggle="modal" href="#exampleModal2" data-bs-whatever="건설기획화" >입력 담당자 선택</a>
                </td>
                <th class="text-nowrap">
                  <div class="btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check btn-sm" name="btnradio5" id="write-btnradio11" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="write-btnradio11"> 작성</label>

                    <input type="radio" class="btn-check btn-sm" name="btnradio5" id="write-btnradio12" autocomplete="off">
                    <label class="btn btn-outline-primary" for="write-btnradio12"> 미 작성</label>
                  </div>
                </th>
              </tr>
              <tr>
                <td>도시계획과</td>
                <td class="text-nowrap">
                  <a class="btn btn-outline-primary btn-sm" role="button" data-bs-toggle="modal" href="#exampleModal2" data-bs-whatever="도시계획과" >입력 담당자 선택</a>
                </td>
                <th class="text-nowrap">
                  <div class="btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check btn-sm" name="btnradio6" id="write-btnradio13" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="write-btnradio13"> 작성</label>

                    <input type="radio" class="btn-check btn-sm" name="btnradio6" id="write-btnradio14" autocomplete="off">
                    <label class="btn btn-outline-primary" for="write-btnradio14"> 미 작성</label>
                  </div>
                </th>
              </tr>
              <tr>
                <td>주택정책과</td>
                <td class="text-nowrap">이순문
                  <a class="btn btn-outline-primary btn-sm" role="button" data-bs-toggle="modal" href="#exampleModal2" data-bs-whatever="주택정책과" >입력 담당자 선택</a>
                </td>
                <th class="text-nowrap">
                  <div class="btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check btn-sm" name="btnradio7" id="write-btnradio15" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="write-btnradio15"> 작성</label>

                    <input type="radio" class="btn-check btn-sm" name="btnradio7" id="write-btnradio16" autocomplete="off">
                    <label class="btn btn-outline-primary" for="write-btnradio16"> 미 작성</label>
                  </div>
                </th>
              </tr>

              </tbody>
            </table>
            <button type="button" class="btn btn-primary">저장</button>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>
  <!-- 지정 및 수정 Modal script-->
  <script th:inline="javascript">
    /*<![CDATA[*/
    let docObject = /*[[ ${docObject} ]]*/;
    /*]]*/
    function fetchByDoctypeId(doctypeId) {
      DoctypeService.fetchByDoctypeId(doctypeId)
    }
    let exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      let button = event.relatedTarget
      // Extract info from data-bs-* attributes
      let recipient = button.getAttribute('data-bs-whatever')
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      //
      // Update the modal's content.
      let modalTitle = exampleModal.querySelector('.modal-title')
      // let modalBodyInput = exampleModal.querySelector('.modal-body input')

      modalTitle.textContent = recipient + ' 입력자 지정'
      // modalBodyInput.value = recipient
    })
  </script>
  <!-- 입력자 지정 세부 Modal2-->
  <div class="modal fade" id="exampleModal2" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="exampleModalLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel2"># 입력자 지정 detail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered text-center" style="font-size: 14px">
              <thead>
              <tr>
                <th class="text-nowrap">입력자</th>
                <th class="text-nowrap">선택</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>이성근</td>
                <td class="align-content-center text-center">
                  <div>
                    <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
                  </div>
                </td>
              </tr>
              <tr>
                <td>김유진</td>
                <td class="align-content-center text-center">
                  <div>
                    <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2" value="" aria-label="...">
                  </div>
                </td>
              </tr>
              <tr>
                <td>권상근</td>
                <td class="align-content-center text-center">
                  <div>
                    <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3" value="" aria-label="...">
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer align-content-center text-center">
          <button type="button" class="btn btn-secondary btn-close-falcon-container">저장</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 입력자 지정 세부 Modal script-->
  <script>
    let exampleModal2 = document.getElementById('exampleModal2')
    exampleModal2.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      let button2 = event.relatedTarget
      // Extract info from data-bs-* attributes
      let recipient2 = button2.getAttribute('data-bs-whatever')
      console.log(recipient2)
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      //
      // Update the modal's content.
      let modalTitle2 = exampleModal2.querySelector('.modal-title')
      // let modalBodyInput = exampleModal.querySelector('.modal-body input')

      modalTitle2.textContent = recipient2 + ' 입력자 지정 '
      // modalBodyInput.value = recipient
    })
  </script>

</th:block>

</html>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" th:src="'/js/cms/doctype/doctype_service.js?'+${#dates.format(#calendars.createNow(), 'yyyyMMddHHmmss')}" ></script>
<script type="text/javascript" th:src="'/js/cms/doctype/doctype_ui.js?'+${#dates.format(#calendars.createNow(), 'yyyyMMddHHmmss')}" ></script>

